*{
  margin: 0;
}

:root{
  --large-font: monospace,;
  --small-font: ;
}

h1,
li{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
