*{
  margin: 0;
}

:root{
  --blue-crayola: #0178ff;
  --sky-blue-crayola: #70e0ff;
  --shiny-shamrock: #62a87c;
  --non-photo-blue: #99e9ff;
  --eton-blue: #89be9c;

}

h1,
li{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
